<h1>New Post</h1>

<form action="/posts" method="post">
<input type="text" name="title" placeholder="title">
<input type="text" name="price" placeholder="price">
<input type="text" name="description" placeholder="description">
<input type="text" name="location" placeholder="location">
<input type="submit" name="submit">
</form>